<%layout("./main/boilerplate")%>
<div class="row">
  <div class="contact col-8 offset-2 mt-3 mb-3">
    <h1 class="about_heading mt-3 mb-3">
      Meet Parise Jeevit Kumar - The Mind That Designs and Dreams
    </h1>
    <div class="myself">
      <p class="text">
        Hi, I’m Parise Jeevit Kumar, someone who believes that design isn’t just
        about how things look it’s about how they feel and work. From the sleek
        curves of an automobile to the clean flow of a website, I love crafting
        systems that blend creativity with purpose.<br />
        I’ve completed my Master’s in Mechanical System Design, where I learned
        how every detail no matter how small can transform an idea into a
        masterpiece. My fascination with automobile design taught me precision,
        my passion for website design gave me imagination, and together, they
        shaped me into someone who loves to build, solve, and innovate.<br />
        When I’m not lost in a world of designs and code, you’ll probably find
        me on a cricket field. I love challenging my mind with chess and finding
        inspiration in rhythm especially through music. I’m deeply into English
        and Hindi rap and hip-hop, vibing to artists, who remind me that emotion
        and energy can build anything.<br />
        And yes I’m absolutely crazy about dogs. Their loyalty and energy remind
        me every day to stay curious, playful, and full of life.<br />
        Life’s been an amazing journey so far I’m doing awesome, growing every
        day, and designing not just systems or websites… but a future full of
        possibilities.
      </p>
    </div>
  </div>
</div>
