<%layout("./main/boilerplate")%>
<div class="box col-6 offset-3 mt-5">
  <h1 style="color: white" class="ping mt-5">Ping Me, I Don’t Bite</h1>
  <div class="icons mt-3 mb-3">
    <a href="https://www.instagram.com/pariseda61/"
      ><i class="fa-brands fa-instagram mt-4 mb-4"></i
    ></a>
    <a href="https://x.com/parise_da61"
      ><i class="fa-brands fa-twitter mt-4 mb-4"></i
    ></a>
    <a href="https://www.linkedin.com/in/jeevit-kumar-3a8b2b344/"
      ><i class="fa-brands fa-linkedin mt-4 mb-4"></i
    ></a>
    <a href="https://github.com/Pariseda61"
      ><i class="fa-brands fa-github mt-4 mb-5"></i
    ></a>
  </div>
</div>
