<nav class="navbar navbar-expand-md sticky-top navbar-dark custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/chat">Home</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active text-body-emphasis" href="/aboutme"
          >About Me</a
        >
        <a class="nav-link active" href="/gallery">Art Portfolio</a>
        <a class="nav-link active" href="/chat/add">Send Message</a>
        <a class="nav-link active" href="/contactme">Contact Me</a>
      </div>
    </div>
  </div>
</nav>
